header {
  background-color: var(--header);
  display: flex;
  flex-direction: row;
  position: fixed;
  padding: 0 50px;
  height: 70px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9997;

  .logo {
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 32px;
    color: white;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-item {
    display: flex;
    color: white;
    height: 100%;
    padding: 0 10px;
    align-items: center;
  }

  .nav-item:hover {
    background-color: #FFFFFF33;
  }
}